
<small><a href="#" id="doc-expand" style="font-size: 9px; color: #525252;">▶</a></small>
<ul>
    <li>
        <h2 tabindex="0">Prologue</h2>
        <ul>
            <li><a href="/docs/5.5/releases" href="{{ page.caturl | relative_url }}" class="active doc-link" role="link">Release Notes</a></li>
            <li><a href="/docs/5.5/upgrade" href="{{ page.caturl | relative_url }}" class="active doc-link" role="link">Upgrade Guide</a></li>
            <li><a href="/docs/5.5/contributions" href="{{ page.caturl | relative_url }}" class="active doc-link" role="link">Contribution Guide</a></li>
            <li><a href="/api/5.5" href="{{ page.caturl | relative_url }}" class="active doc-link" role="link">API Documentation</a></li>
        </ul>
    </li>
    <li>
        <h2 tabindex="0">Getting Started</h2>
        <ul>
            <li><a href="/docs/5.5/installation">Installation</a></li>
            <li><a href="/docs/5.5/configuration">Configuration</a></li>
            <li><a href="/docs/5.5/structure">Directory Structure</a></li>
            <li><a href="/docs/5.5/homestead">Homestead</a></li>
            <li><a href="/docs/5.5/valet">Valet</a></li>
            <li><a href="/docs/5.5/deployment">Deployment</a></li>
        </ul>
    </li>
    <li>
        <h2 tabindex="0">Architecture Concepts</h2>
        <ul>
            <li><a href="/docs/5.5/lifecycle">Request Lifecycle</a></li>
            <li><a href="/docs/5.5/container">Service Container</a></li>
            <li><a href="/docs/5.5/providers">Service Providers</a></li>
            <li><a href="/docs/5.5/facades">Facades</a></li>
            <li><a href="/docs/5.5/contracts">Contracts</a></li>
        </ul>
    </li>
    <li>
        <h2 tabindex="0">The Basics</h2>
        <ul>
            <li><a href="/docs/5.5/routing">Routing</a></li>
            <li><a href="/docs/5.5/middleware">Middleware</a></li>
            <li><a href="/docs/5.5/csrf">CSRF Protection</a></li>
            <li><a href="/docs/5.5/controllers">Controllers</a></li>
            <li><a href="/docs/5.5/requests">Requests</a></li>
            <li><a href="/docs/5.5/responses">Responses</a></li>
            <li><a href="/docs/5.5/views">Views</a></li>
            <li><a href="/docs/5.5/urls">URL Generation</a></li>
            <li><a href="/docs/5.5/session">Session</a></li>
            <li><a href="/docs/5.5/validation">Validation</a></li>
            <li><a href="/docs/5.5/errors">Errors &amp; Logging</a></li>
        </ul>
    </li>
    <li>
        <h2 tabindex="0">Frontend</h2>
        <ul>
            <li><a href="/docs/5.5/blade">Blade Templates</a></li>
            <li><a href="/docs/5.5/localization">Localization</a></li>
            <li><a href="/docs/5.5/frontend">Frontend Scaffolding</a></li>
            <li><a href="/docs/5.5/mix">Compiling Assets</a></li>
        </ul>
    </li>
    <li>
        <h2 tabindex="0">Security</h2>
        <ul>
            <li><a href="/docs/5.5/authentication">Authentication</a></li>
            <li><a href="/docs/5.5/passport">API Authentication</a></li>
            <li><a href="/docs/5.5/authorization">Authorization</a></li>
            <li><a href="/docs/5.5/encryption">Encryption</a></li>
            <li><a href="/docs/5.5/hashing">Hashing</a></li>
            <li><a href="/docs/5.5/passwords">Password Reset</a></li>
        </ul>
    </li>
    <li>
        <h2 tabindex="0">Digging Deeper</h2>
        <ul>
            <li><a href="/docs/5.5/artisan">Artisan Console</a></li>
            <li><a href="/docs/5.5/broadcasting">Broadcasting</a></li>
            <li><a href="/docs/5.5/cache">Cache</a></li>
            <li><a href="/docs/5.5/collections">Collections</a></li>
            <li><a href="/docs/5.5/events">Events</a></li>
            <li><a href="/docs/5.5/filesystem">File Storage</a></li>
            <li><a href="/docs/5.5/helpers">Helpers</a></li>
            <li><a href="/docs/5.5/mail">Mail</a></li>
            <li><a href="/docs/5.5/notifications">Notifications</a></li>
            <li><a href="/docs/5.5/packages">Package Development</a></li>
            <li><a href="/docs/5.5/queues">Queues</a></li>
            <li><a href="/docs/5.5/scheduling">Task Scheduling</a></li>
        </ul>
    </li>
    <li>
        <h2 tabindex="0" class="is-active">Database</h2>
        <ul>
            <li style="font-weight: bold;"><a href="/docs/5.5/database">Getting Started</a></li>
            <li><a href="/docs/5.5/queries">Query Builder</a></li>
            <li><a href="/docs/5.5/pagination">Pagination</a></li>
            <li><a href="/docs/5.5/migrations">Migrations</a></li>
            <li><a href="/docs/5.5/seeding">Seeding</a></li>
            <li><a href="/docs/5.5/redis">Redis</a></li>
        </ul>
    </li>
    <li>
        <h2 tabindex="0">Eloquent ORM</h2>
        <ul>
            <li><a href="/docs/5.5/eloquent">Getting Started</a></li>
            <li><a href="/docs/5.5/eloquent-relationships">Relationships</a></li>
            <li><a href="/docs/5.5/eloquent-collections">Collections</a></li>
            <li><a href="/docs/5.5/eloquent-mutators">Mutators</a></li>
            <li><a href="/docs/5.5/eloquent-resources">API Resources</a></li>
            <li><a href="/docs/5.5/eloquent-serialization">Serialization</a></li>
        </ul>
    </li>
    <li>
        <h2 tabindex="0">Testing</h2>
        <ul>
            <li><a href="/docs/5.5/testing">Getting Started</a></li>
            <li><a href="/docs/5.5/http-tests">HTTP Tests</a></li>
            <li><a href="/docs/5.5/dusk">Browser Tests</a></li>
            <li><a href="/docs/5.5/database-testing">Database</a></li>
            <li><a href="/docs/5.5/mocking">Mocking</a></li>
        </ul>
    </li>
    <li>
        <h2 tabindex="0">Official Packages</h2>
        <ul>
            <li><a href="/docs/5.5/billing">Cashier</a></li>
            <li><a href="/docs/5.5/envoy">Envoy</a></li>
            <li><a href="/docs/5.5/horizon">Horizon</a></li>
            <li><a href="/docs/5.5/passport">Passport</a></li>
            <li><a href="/docs/5.5/scout">Scout</a></li>
            <li><a href="/docs/5.5/socialite">Socialite</a></li>
        </ul>
    </li>
</ul>