---
layout: default
typepage: document
---
<div class="doc-container">
    <div class="doc-menu">
        <ul>
            <li>
                <a  href="{{ page.caturl | relative_url }}" class="active doc-link" role="link">
                    مقدمه
                </a>
            </li>
        {% for item in site.documentation %}
            {% if item.caturl == page.caturl %}
            <li>
                 <a title="{{ item.title }}" href="{{ item.url | relative_url }}" class="active doc-link" role="link">
                     {{ item.title }}
                 </a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>

    <article class="documentation">
        <header class="doc-header">
            <h2>
                {% if page.cattitle == null %}
                {{ page.title | escape }}
                {% endif %}
                {% if page.cattitle != null %}
                {{ page.cattitle | escape }}
                {% endif %}
            </h2>
        </header>
        <section>
            {{ content }}
        </section>
    </article>
</div>

{% include deeplink.html %}
{% include doc-scroll.html %}