---
layout: default
---
<div class="doc-container">
    <div class="doc-menu">
        <ul>
        {% for item in site.documentation %}
            {% if item.document-cat == page.document-cat %}
            <li>
                 <a title="{{ item.title }}" href="{{ item.url | relative_url }}" class="active doc-link" role="link">
                     {{ item.title }}
                 </a>
            </li>
            {% endif %}
        {% endfor %}
        </ul>
    </div>

    <article class="documentation">
        <header class="doc-header">
            <h2>
                {% if page.cattitle == null %}
                {{ page.title | escape }}
                {% endif %}
                {% if page.cattitle != null %}
                {{ page.cattitle | escape }}
                {% endif %}
            </h2>
        </header>
        <section>
            {{ content }}
        </section>
    </article>
</div>

{% include deeplink.html %}
{% include doc-scroll.html %}