---
layout: default
---
<article class="post" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post-header">
    <h3 itemprop="name headline" >{{ page.title | escape }}</h3>
    <p class="meta">
        <div class="time">
            تاریخ :      {{ page.jdate}}
        </div>
        {% if page.author %}
        • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>
        {% endif %}
    </p>
  </header>
  <div class="post-content anchored" itemprop="articleBody">
    {{ content }}
  </div>
    {% include refrence.html %}
</article>
{% include deeplink.html %}